<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" type ="text/css" href="style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Activities</title>
</head>
<body class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">AFTER SCHOOL EXTRAS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Activities</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User Sign-Up</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="studentsignup.html">Student</a>
                        <a class="dropdown-item" href="parentsignup.html">Parent</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="register.html">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="0">LogOut</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="filter">
        <h1>Filters</h1>
        <select  v-model='selectedTopic'>
            <option v-for='topic in topics'>
                {{topic}}
            </option>
        </select>
        <p>Selected topics: {{selectedTopic}}</p>
        <!-- <br> -->
        <select  v-model='selectedLocation'>
            <option v-for="location in locations">{{location}}</option>
        </select>
        <p>Selected location: {{selectedLocation}}</p>
    </div>
    <button>reset</button>
    <div id="app">
        <div class="panel panel-default">
            <div class="panel-heading" style="font-weight:bold"><span class="glyphicon glyphicon-align-justify"></span> All Resources</div>
            <div class="row">
                <div class="search-wrapper panel-heading col-sm-12">
                    <input class="form-control" type="text" v-model="searchQuery" placeholder="Search" />
                </div>
            </div>
            <div class="panel-body" style="max-height: 400px;overflow-y: scroll;">
                <table v-if="resources.length" class="table">
                    <thead>
                        <tr>
                            <th>Activities</th>
                            <th>Locations</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in filteredResources">
                            <td><a v-bind:href="item.location" target="_blank">{{item.title}}</a></td>
                            <td><a v-bind:href="item.location" target="_blank">{{item.location}}</a></td>
                            <td>&euro;<a v-bind:href="item.location" target="_blank">{{item.price}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
    <script>
        new Vue
        ({
          el: '#app',
          data() {
            return {
                searchQuery:'',
            resources:[
                { 'title': 'Remedial Classes', 'location': 'Birgu', 'price': 100 },
                { 'title': 'Gaming', 'location': 'Qormi', 'price': 30 },
                { 'title': 'Dance', 'location': 'Rabat', 'price': 50 },
                { 'title': 'Music', 'location': 'Senglea', 'price': 50 },
                { 'title': 'Sports', 'location': 'Siggiewi', 'price': 90 },
                { 'title': 'Art', 'location': 'Valleta', 'price': 45 },
                { 'title': 'Athletics', 'location': 'Zabbar', 'price': 110 },
                { 'title': 'Choir', 'location': 'Zebbug', 'price': 10 },
                { 'title': 'Band', 'location': 'Zejtun', 'price': 25 },
                { 'title': 'Fan Club', 'location': 'Birkikara', 'price': 5 },
                { 'title': 'Debate', 'location': 'll-Marsa', 'price': 5 },
                { 'title': 'Yearbook', 'location': 'in-Naxxar', 'price': 5 }
                ]
                };
          },
          computed: {
            filteredResources (){
              if(this.searchQuery){
              return this.resources.filter((item)=>{
                return item.title.startsWith(this.searchQuery);
              })
              }else{
                return this.resources;
              }
            }
          }
        })
    </script>
    <style>
        tr{
            background-color: white;
        }
        Body{
            background-image: radial-gradient(circle, #bc7fa2, #af7da7, #9f7bac, #8e7bae, #7a7aaf, #6c81b6, #5c88ba, #4c8ebb, #429dc1, #42acc3, #4fb9c2, #64c6bf);}
    </style>
    <script src="search.js"></script>
</body>
</html>