*{
  box-sizing: border-box;
}

.selector-for-some-widget {
  box-sizing: content-box;
}
.logo {
  width: 50px;
  float: left;
  margin-right: 15px;
}

.form-group {
  max-width: 500px;
}

.actions {
  padding: 10px 0;
}

.glyphicon-euro {
  font-size: 12px;
}
  body{
  background-image: radial-gradient(circle, #bc7fa2, #af7da7, #9f7bac, #8e7bae, #7a7aaf, #6c81b6, #5c88ba, #4c8ebb, #429dc1, #42acc3, #4fb9c2, #64c6bf);
  }
