<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type ="text/css" href="../src/assets/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title>Activities</title>
    </head>
</head>
<body class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">AFTER SCHOOL EXTRAS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="subject.html">Activities</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User Sign-Up</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Student</a>
                        <a class="dropdown-item" href="#">Parent</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="register.html">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login.html">Log-In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="0">LogOut</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="filter">         
        <h1>Filters</h1>
        <select multiple v-model='selectedTopic'>
        <option v-for='topic in topics'>
        {{topic}}
        </option>
        </select>
        <p>Selected topics: {{selectedTopic}}</p>
        <!-- <br> -->
        <select multiple v-model='selectedLocation'>
        <option v-for="location in locations">{{location}}</option>
        </select>
        <p>Selected location: {{selectedLocation}}</p>
    </div>
    <button>reset</button>
    <div id="courseList">
        <h1>Course list</h1>
        <div v-for="course in filteredCourses" class="course">
            <li v-for='(value, name) in course'>{{name}}: {{value}}</li>
        </div>
    </div>   

    <script>
        var courses = [
            { 'topic': 'Math', 'location': 'Birgu', 'price': 100 },
            { 'topic': 'Biology', 'location': 'Bormla', 'price': 80 },
            { 'topic': 'English', 'location': 'Mdina', 'price': 90 },
            { 'topic': 'Gaming', 'location': 'Qormi', 'price': 120 },
            { 'topic': 'Dance', 'location': 'Rabat', 'price': 110 },
            { 'topic': 'Music', 'location': 'Senglea', 'price': 90 },
            { 'topic': 'Sports', 'location': 'Siggiewi', 'price': 90 },
            { 'topic': 'Art', 'location': 'Valleta', 'price': 130 },
            { 'topic': 'Athletics', 'location': 'Zabbar', 'price': 120 },
            { 'topic': 'Choir', 'location': 'Zebbug', 'price': 140 },
            { 'topic': 'Band', 'location': 'Zejtun', 'price': 120 },
            { 'topic': 'Fan Club', 'location': 'Birkikara', 'price': 140 },
            { 'topic': 'Debate', 'location': 'll-Marsa', 'price': 120 },
            { 'topic': 'Yearbook', 'location': 'in-Naxxar', 'price': 140 }
            ]
            filterApp = new Vue
            ({
                el: '#filter',
                data:
                {
                    courses: courses,
                    selectedTopic: [],
                    selectedLocation: [],
                },
                computed: 
                {
                    topics: function () { // return an array of all the topics
                    return [...new Set(this.courses.map(x => x.topic))]
                    },
                    locations: function () 
                    {
                    return [...new Set(this.courses.map(x => x.location))]
                    }
                }
             })   
    </script>
    
    <style>
        .course {
            border: solid lightblue;
            /* width: 150px; */
            display: inline-block;
            margin: 10px;
            padding: 10px;
            }
    </style>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>